.page-footer {
    border-radius: 2px;
}

 a:hover {
	background-color: hsl(158, 52%, 52%);
    border-radius: 2px;
}

.footer-copyright .active {
   background-color:hwb(129 4% 12%);
   border-radius: 2px;
}