.search{
  margin-left: 50px;

}

  a:hover {
	background-color: hwb(222 27% 23%);
    border-radius: 2px;
}
 .active {
    
    border-radius: 2px;
}
.nav-item {
  color: #000;
  padding-right: 1.5rem;
}
.mylogo{
  justify-items: auto;
}
a{
  padding: 1.5rem;
}
img{
  border-radius: 3px;
}